<div class="jumbotron">
    <h2>Transaction Operation Portal</h2>
    <p class="lead">Providing operation support for transaction base applications via API</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Tracking API</h2>
        <p>
            Tracking API is a framework that makes it easy to get HTTP tracking services from
            a broad range of carrier, currently support carriers are
        </p>
        <ul>
            <li>UPS</li>
            <li>FedEx</li>
            <li>Loomis</li>
            <li>Purolator</li>
            <li>CanadaPost</li>
        </ul>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Get more libraries</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>TBD</h2>
        </div>
    </div>
</div>
